:root{
    --color-red: hsl(0, 100%, 74%);
    --color-green: hsl(154, 59%, 51%);
    --color-blue: hsl(248, 32%, 49%);
    --color-dark-blue: hsl(249,10%,26%);
    --color-grayish-blue: hsl(246, 25%, 77$);
    --font-body: "Poppins", 'segoe ui', 'araial', 'helvetica', 'sans-serif';
}

body{
    background-image: url(images/bg-intro-mobile.png);
    background-color: var(--color-red);
    font-family: var(--font-body);
}

@media only screen and (min-width: 400px)
{
    body {
        background-image: url(images/bg-intro-desktop.png);
    }
} 

.attributions{
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
/* Formatting stuff so i don't have to jump back and forth
 Font Weights: 400, 500, 600, 700
 Font Size: 16px (body)
RG is primary, U is accent, dark U & G are neutral

- Mobile: 375px
- Desktop: 1440px
*/